@font-face {
    font-family: gibsonFont;
    src: url(fonts/Gibson/Gibson-Book.otf);
}

body {
    font-family: gibsonFont;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
 #app{
    /* min-height: 95vh; */
   width: 100vw;
   min-height: 95vh;
   display: contents; /*Nueva propiedad*/
} 
.containerlogin{
 
 /*Agregamos el tamaño del contenedor para que la rueda ocupe todo el espacio de pantalla*/
 width: 100vw;
 height: 100vh;
}

nav{
  display: flex !important;
  position: sticky !important;
  z-index: 1;
  top: 0;
}

footer{
  margin-top: auto;
  height: 8vh;
  background-image: url('/img/footer.jpg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

 
.colorMorado{
    background-color: #6A0F49 !important;
    color: white !important;

  }
  .colorgriss{
    background-color: #FFFFFF !important;
    color: rgb(145, 20, 20) !important;

  }
.has-error{
  color: red;
}


@media (max-width: 575px) {
  .imgSitioOficial{
    width: 12%;
  }

  #logo_cocotra{
    text-align: center;
    width: 100%;
  }

  #title_concesiones{
    color: #6A0F49;
    text-align: center; 
    padding-left: 10%;
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .imgSitioOficial{
    width: 10%;
  }

  #logo_cocotra{
    text-align: center;
    width: 100%;
  }

  #title_concesiones{
    color: #6A0F49;
    text-align: left; 
    padding-left: 10%;
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imgSitioOficial{
    width: 8%;
  }

  #logo_cocotra{
    text-align: left;
    width: 100%;
  }

  #title_concesiones{
    color: #6A0F49;
    text-align: left; 
    padding-left: 10% ;
    font-size: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .imgSitioOficial{
    width: 6%;
  }

  #logo_cocotra{
    text-align: left;
    width: 100%;
  }

  #title_concesiones{
    color: #6A0F49;
    text-align: left; 
    padding-left: 10% ;
    padding-top: 2% ;
    font-size: 25px;
  }
}

@media (min-width: 1200px ) {
  .imgSitioOficial{
    width: 5%;
  }

  #logo_cocotra{
    text-align: left;
    width: 100%;
  }

  #title_concesiones{
    color: #6A0F49;
    text-align: left; 
    padding-left: 25% ;
    padding-top: 2% ;
    font-size: 30px;
  }
}


.verticalNav{
    margin-left:5%;
}

.verticalNavSecondary{
    margin-left:1%;
}

.homeBG{
    top: 15%;
    left:37.5%;
    right: auto;
    width: 25%;
    position: fixed;
    z-index:0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 25%;
}

/* Estilos para menu vertical -------------------------------------------------------------*/
#contenedor{
    display:grid;
    max-width: fit-content;
    gap:1rem;
    max-width: 100vw;
    grid-template-columns: 20vw 75vw;
    min-height: 80vh;
}
#menuLateral{
    flex-direction: column;
    display: inline-block;
    justify-content: space-between;
    margin-left:1%; 
    /*float:left; 
    max-width: 250px;
    min-width: 250px;
    width:250px;*/
    max-height: 80vh;
    overflow:auto;
    left:0;
}

/* Separador menu lateral */
.vl {
    
    border-left:1px solid gray;
    /*display: inline-flex;*/
    height: 100%;
    position:static; 
    left:260px; 
    padding-top:0; 
    /*margin-left: 10px;*/
    margin-top:0; 
    height:90%;
}

.botonLateral{
    width:100%;
    margin-bottom:5px;
}
.categoria{
    text-decoration: none;

}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}



.customFooterA{
    color: #fcd9e1;
    text-decoration: none;
}

.customFooterIMG{
    width:100%;
}


/* Style all input fields */
#password-store {
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  #password-store[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  

  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    margin-top: 10px;
  }
  #message1 {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    margin-top: 10px;
  }
  
  #message p {
    font-size: 12px;
  }
  #message1 p {
    display: none;
    font-size: 12px;
  }
  .hiddenElement{
    display: none;
    font-size: 12px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;

  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
   
  }

  .textoMorado{
    font-weight:bold;
    color: #6A0F49 !important;
  }
  /*Estilos para el Cuestionario */
  .answer{
    background-color: #0A336B;
    color: white;
  }


  .question{
    background-color: #6D807F;
    color:white;
  }

  table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    position: relative;
  }

  .homeBG{
    opacity: 0.15;
  }

  .pregunta_3{
    color: #FFFFFF;
    /*color: #BD5200;*/
    background-color: #4A001F;
    /*background-color: #073F4A;*/
  }

  div.dt-buttons {
    float: right;
 }



 #footerA {
  
  position: absolute;
  bottom: 0%;
  width: 100%;
 
  color: rgb(0, 0, 0);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
 
}
.colortextfoot{
  color: #000;

}
.botoninicio{
  color: rgb(255, 255, 255);
  background-color: #6A0F49;
  width: 75%;
}
.botonbuscar{
  color: rgb(255, 255, 255);
  background-color: #6A0F49;
  
}

.botonbuscar:hover {
  background-color: #888a8d64; /* Green */
  color: rgb(14, 28, 225);
}
.col-sm-6{
  padding-left: 0%;
  padding-right: 0%;
}

.form-control {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=date]{
  flex-direction: row !important;
}

.form-control input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
.ladizqlogin {
  clip-path:ellipse(78% 100% at 16% 50%);  
  background: radial-gradient(78% 100% at 16% 50%,rgba(106,14,74,1) 97%, rgba(255,255,255,1) 100%);
  color: white;

} 


.tag-wrap {
  /* filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); */
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6a0e49;
  color: white;
}



.footerClassMain{
  box-shadow: 0px -10px 1px #FFC3D0; 
  background-image: url('/img/footer.jpg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  padding-top:1.1%;
  padding-bottom:1.1%;
}

.gobiernoDigitalDIV{
  position: absolute; 
  left: 0.1%; 
  background-color:white; 
  width:90px; 
  height:90px; 
  border-radius: 50%; 
  margin-top: -2.5%; 
  box-shadow:  0px 4px 20px #000000, 0px -4px 20px #000000; 
  /* /IMAGEN de fondo GD/ */
  background-image: url('/img/LogosGD/GDSello.svg'); 

  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 90%;
}

.footerMessageMain{
  transform: translateY(100%);
  font-size: 110%;
}

.logositiooficial{
  text-align: center; padding-top: 4%;padding-bottom: 4%; 
}

.imagenformatologo{
  text-align: center;
}


.conceptos td,
th {
    border: 1px solid #B9B9B9;
}

.tr_head_content {
    background-color: #6A0F49 !important;
    color: white !important;
}

.column_data{
    text-align: center;
}

.column_numbers{
    text-align: right;
}

th.centro-gestor
{
  background-color: brown !important;
  color: aliceblue !important; 
}
th.area-funcional
{
  background-color: dimgrey !important;
  color: aliceblue !important; 
}
th.periodo-presupuestal
{
  background-color: plum !important;
  color: aliceblue !important; 
}
th.clasificacion-economica
{
  background-color: grey !important;
  color: aliceblue !important; 
}
th.fondo
{
  background-color: orangered !important;
  color: aliceblue !important; 
}
th.inversion
{
  background-color: darksalmon !important;
  color: aliceblue !important; 
}